._orderPage {
  padding: 40px 25px;
  text-align: center;
  h1 {
    color: white;
  }
  ._filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    ._dateFilter {
      color: white;
      span {
        margin-right: 10px;
      }
    }
  }
}
