._importPage {
  padding: 40px 25px;
  text-align: center;
  h1 {
    color: white;
  }
  ._filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    ._dateFilter {
      color: white;
      span {
        margin-right: 10px;
      }
    }
    ._viewAll {
      button {
        height: 2.2rem;
        border-radius: 5px;
        border: 1px solid white;
        background: transparent;
        color: white;
        cursor: pointer;
        margin-left: 12px;
        transition: 0.3s;
        &:hover {
          background: white;
          color: #551a8b;
        }
      }
    }
  }
}
