.App {
  ._navbar {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: #ffffff66;
    color: white !important;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    padding: 0 40px;
    font-size: 0.8rem;
    h1 {
      color: white;
    }
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  ._body {
    display: flex;
    justify-content: flex-end;
    ._sidebar {
      width: 25%;
      height: calc(100vh - 70px);
      position: fixed !important;
      margin-top: 70px;
      top: 0;
      left: 0;
      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: #ffffffa8;
      color: white !important;
      overflow: hidden;
      ._sidebar_item {
        padding: 15px;
        font-weight: bold;
        margin: 20px 0;
        transition: 0.3s;
        &:hover {
          background-color: white;
        }
      }
      ._contact {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      a {
        color: #551a8b;
        &:active {
          color: white;
        }
      }
    }
    ._content {
      width: 75%;
    }
  }
}
